{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}


    

<div class="row col-auto" >

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Realizar</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'cmp:compras_new' %}">Nueva Compra</a>
                            <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'fac:factura_new' %}">Nueva Venta</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-plus fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <!-- Total de ventas -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total de Ventas</div>
                        <div class="h1 mb-0 font-weight-bold text-gray-800">${{ totales_ventas }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total de compras -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total de Compras</div>
                        <div class="h1 mb-0 font-weight-bold text-gray-800">${{ totales_compras }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div><br></div>

<div class="row">
    <!--Gráfico de productos mas vendidos-->
    <div class="col-md-6">
        <h4 class="m-0 font-weight-bold text-primary">Los 5 productos más vendidos</h4>
        <div id="container" style="width: 80%; height: 80%;">
            <canvas id="myChart" width="400px" height="400px"></canvas>
        </div>
    </div>

    <div class="col-md-6">
        <h4 class="m-0 font-weight-bold text-primary"> Productos mas vendidos por Categoría</h4>
        <div id="container" style="width: 80%; height: 80%;">
            <canvas id="grafico2" width="400" height="400"></canvas>
        </div>
    </div>
</div> <br><br>

    <!--Gráfico de productos menos vendidos-->
    <center><div class="col-md-6 ">
        <h4 class="m-0 font-weight-bold text-primary"> Los 5 productos menos vendidos</h4>
        <div id="container" style="width: 80%; height: 80%;">
            <canvas id="grafico" width="400" height="400"></canvas>
        </div>
    </div></center>
{% endblock  %}


{% block js_page %}
<script src="{% static 'charts/charts.min.js' %}"></script>
<script src="{% static 'graficos/productos_mas_vendidos.js' %}"></script>
<script src="{% static 'graficos/productos_mas_vendidos_subcategorias.js' %}"></script>
<script src="{% static 'graficos/productos_menos_vendidos.js' %}"></script>

{% endblock %}