{% extends 'base/base.html' %}


{% block page_content %}

<div id="container" style="width: 40%; height: 40%;">
	<canvas id="myChart" max-width="700px"></canvas>
</div>

{% endblock  %}

{% block js_page %}
<script>

	var ctx = document.getElementById('myChart');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ['prod1', 'prod1', 'prod1', 'prod1', 'prod1'], //nombre de los productos
			datasets: [{
				label: 'Productos mas vendidos', //nombre de los productos
				data: [12, 19, 3, 5, 2],  		//cantidad de vendidos
				backgroundColor: [
					'rgba(255, 99, 132, 0.5)',
					'rgba(54, 162, 235, 0.5)',
					'rgba(255, 206, 86, 0.5)',
					'rgba(75, 192, 192, 0.5)',
					'rgba(153, 102, 255, 0.5)',
				],
				borderColor: [
					'rgba(255, 99, 132, 3)',
					'rgba(54, 162, 235, 3)',
					'rgba(255, 206, 86, 3)',
					'rgba(75, 192, 192, 3)',
					'rgba(153, 102, 255, 3)',
				],
				borderWidth: 2
			}]
		},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});
	</script>
	
{% endblock %}