{% load static %}

<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form role="form" id="frmdomicilio" action="{% url 'domicilios:domicilio_edit' obj.pk %}" method="post"
            class="form-inline">
            {% else %}
            <form role="form" id="frmdomicilio" action="{% url 'domicilios:domicilio_new' %}" method="post" class="form-inline">
               <!-- <a href="/domicilios/new/{{id_cliente}} "></a>-->
                {% endif %}
                <div class="col-xl-12 col-md-12 mb-12">
                    {% if obj %}
                    <div class="card border-left-warning shadow h-100 py-2">
                        {% else %}
                        <div class="card border-left-success shadow h-100 py-2">
                            {% endif %}
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            {% if obj %} Editar {% else %} Nuevo {% endif %} Domicilio
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        {% csrf_token %}
                                        <input type='hidden' name='cliente' value="{{cliente.id}}">
                                        <div class="row">
                                            {#{ form.as_p }#}
                                        </div>
                                        <div class="row">
                                            <label>Provincia</label>
                                            <div class="col-md-12">
                                                <select name="provincia" id="id_provincia" class="form-control">
                                                    <option value="0">------</option>
                                                    {% for item in provincia  %}
                                                    <option value="{{ item.id }}">{{item.nombre_provincia}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <br>

                                            <label>Localidad</label>
                                            <div class="col-md-12">
                                                <select name="localidad" id="id_localidad" class="form-control">
                                                    <option value="0">-----</option>
                                                    {% for item in localidad  %}
                                                    <option value="{{ item.id }}"
                                                        data-chained="{{ item.provincia.id }}">{{item.nombre_localidad}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <br>

                                            <label>Barrio</label>
                                            <div class="col-md-12">
                                                <select name="barrio" id="id_barrio" class="form-control">
                                                    <option value="0">-----</option>
                                                    {% for item in barrio  %}
                                                    <option value="{{ item.id }}"
                                                        data-chained="{{ item.localidad.id }}">{{item.nombre_barrio}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <br>

                                            <label>Calle</label>
                                            {{ form.calle }}

                                            <br>

                                            <label>Altura</label>
                                            {{ form.altura }}

                                            <br>

                                            <label>Manzana</label>
                                            {{ form.manzana }}

                                            <br>

                                            <label>Departamento</label>
                                            {{ form.departamento }}

                                            <br>

                                            <label>Piso</label>
                                            {{ form.piso }}

                                            <br>

                                            <label>Observaciones</label>
                                            {{ form.observacion }}

                                            <br>


                                            <div class="dropdown-divider"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <button type="submit" class="btn btn-success"><span
                                                            class="fa fa-save"></span> Guardar</button>
                                                    <button type="button" class="btn btn-danger"
                                                        onclick="return cerrar_modal()"><span class="fa fa-undo"></span>
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </form>
    </div>
</div>
{% block js_page %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.chained.js' %}"></script>

<script>
    $(function () {
        $("#id_localidad").chained("#id_provincia");
        $("#id_barrio").chained("#id_localidad");
    });
</script>

<script src="{% static 'SweetAlert2/sweetalert2.js' %}"></script>
<script>
    {% if form.errors %}

        var errors = '';

        {% for field in form %} 
            {% for error in field.errors %}
                errors += '{{ error }}\n'; 
            {% endfor %} 
        {% endfor %}

        Swal.fire({
            title: 'Error!',
            text: errors,
            icon: 'error'
        }) 
    {% endif %}
</script>


<script>
    function eliminarDomicilio(id) {
        Swal.fire({
                "title": "¿Desea eliminar éste domicilio?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Si, eliminar"
            })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/domicilios/eliminar_domicilio/" + id
                }
            })
    }
</script>


{% endblock %}


