{% extends 'base/base.html' %}


{% block page_content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Realizar:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'cmp:compras_new' %}">Nueva Compra</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'fac:factura_new' %}">Nueva Venta</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body text-center">
			<h5>Total de Ventas</h5>
			<hr>			
			<h1 style="text-align: center;padding: 10px"> {% for v in ventas %} {{ v.total_ventas }} {% endfor %}</h1>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body text-center">
			<h5>Total de compras</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"> {% for c in compras %} {{ c.total_compras }} {% endfor %}</h1>
		</div>
	</div>
</div>

{% endblock  %}
