{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Productos</h6> 
    <!--<div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Acciones:</div>
        <a class="dropdown-item" onclick="return abrir_modal('{% url 'inv:producto_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nuevo</a>
      </div>
    </div>-->
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="buttons-toolbar">
      <a class="btn btn-success" onclick="return abrir_modal('{% url 'inv:producto_new' %}')" href="#"><i class="fa fa-plus"></i> Nuevo Producto</a>
      <a href="{% url 'inv:historial_precios' %}" class="btn btn-info">Ver historial de precios</a>
      <a href="{% url 'inv:movimiento_list' %}" class="btn btn-warning">Realizar ajuste de inventario</a>
      <a href="{% url 'inv:actualizar-precios' %}" class="btn btn-primary">Actualizar precios</a>
    </div>
    {% if not obj %}
    <div class="alert alert-info">No se encontraron resultados</div>
    {% endif %}
    <table 
      id="table"
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-NI"
    >
      <thead>
        <th data-sortable="true" data-field="nombre">Nombre</th>
        <th data-sortable="true" data-field="marca">Marca</th>
        <th data-sortable="true" data-field="precio unitario">Precio Unitario</th>
        <th data-sortable="true" data-field="stock">Stock</th>
        <th data-sortable="true" data-field="ultima compra">Última Compra</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody>
        {% for item in obj%}
        <tr>
          <td>{{ item.nombre_producto }}</td>
          <td>{{ item.marca }}</td>
          <td>${{ item.precio }}</td>
          {% if item.existencia %}
            <td>{{ item.existencia }}</td>
          {% else %}
            <td><a href="{% url 'cmp:compras_new' %}" class="btn btn-outline-danger  btn-sm btn-block"><i class="fas fa-exclamation-triangle"></i> Reponer</a></td>  
          {% endif %}  
          <td>{{ item.ultima_compra }}</td>
          <!--<td>{{item.estado|yesno:"Activo,Inactivo"}}</td>-->
          <td>
            <a href="{% url 'inv:producto_detalle' item.id %}" class="btn btn-success btn-circle" role="button"><i class="fa fa-eye"></i></a>
            <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'inv:producto_edit' item.id %}')">
                <i class="far fa-edit"></i></button>
                <a href="{% url 'inv:producto_inactivar' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
