{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Proveedor</h6>
  </div>
  <!-- Card Body -->

  <div class="card-body">
    <div class="buttons-toolbar">
      <a class="btn btn-success" onclick="return abrir_modal('{% url 'cmp:proveedor_new' %}')" href=""><i class="fa fa-plus"></i> Nuevo Proveedor </a>
    </div>
    {% if not obj %}
    <div class="alert alert-info">No se encontraron resultados</div>
    {% endif %}
    <table 
      id="table"
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-NI"
    >
      <thead>
        <th data-sortable="true" data-field="id">Id</th>
        <th data-sortable="true" data-field="descripcion">Descripción</th>
        <th data-sortable="true" data-field="telefono">Celular</th>
        <th data-sortable="true" data-field="email">Email</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody>
        {% for item in obj%}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.email }}</td>
          <!--<td>{{item.estado|yesno:"Activo,Inactivo"}}</td>-->
          <td>
            <a href="{% url 'cmp:proveedor_detalle' item.id %}" class="btn btn-success btn-circle" role="button"><i class="fa fa-eye"></i></a>
            <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'cmp:proveedor_edit' item.id %}')"><i class="far fa-edit"></i></button>
            <button class="btn btn-danger btn-circle" onclick="return abrir_modal('{% url 'cmp:proveedor_inactivar' item.id %}')">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
